@model ProyectoIntegrador.Models.Login


@{
  Layout= null;
}
    
    <link rel="stylesheet" href="~/css/VistaLogin.css" />
    <script src="~/js/Login.js"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">      

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
    <h4 >Iniciar sesión</h4>
    <hr>
    <br>
    <div id="formContent">
       <br>
        <form asp-action="Login">
          <div asp-validation-summary="ModelOnly"></div>
               @* Imagen *@
              <div class="fadeIn first">
                <img src="https://image.flaticon.com/icons/png/512/3596/3596080.png" class="brand_logo" alt="Logo">
              </div>
              <br>
              @* Campo Usuario *@
                  <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                      <div class="input-field col s6">
                        <label asp-for="Usuario" class="font-weight-bold"></label>
                        <input asp-for="Usuario" type="text" autocomplete="off">
                          
                        <span asp-validation-for="Usuario" class="text-danger"></span>
                      </div>
                  </div>
                  <br>
                  @* Campo Password *@
                    <div class="row">
                      <div class="input-field col s6">
                        <label asp-for="Password" class="font-weight-bold"></label>
                        <input asp-for="Password" type="Password" >
                          
                        <span asp-validation-for="Password" class="text-danger"></span>
                      </div>
                  </div>
                  <br>
                  <span class="text-danger"> @ViewBag.errorLogin</span>
                  @* Check Button *@
            
            @* Campo Submit *@
            
            <div class="row">
                <div class="col s6 m6">
                    <input class="font-weight-bold" onclick="validate()" type="submit" value="Guardar">
                </div>
            </div>

            @* Footer *@
            <footer class="text-center">
                <p class="font-weight-bold" style="text-align: center;">Sistema de Seguriada S.A. de C.V.</p>
           </footer>   
       </form>
       
    </div>
</div>
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

