@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html{
    height: 100%;
}
body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
  }
  
.grid-container > * {
      box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
      border-radius: 4px;
      padding: 10px;
      text-align: center;
  }

.grid-container{
      display: grid;
      gap: 10px;
      grid-template-areas: 
      "header"
      "navbar"
      "main"
      "sidebar"
      "footer";
  }

.header{
    grid-area: header;
    background-color: #FFE3E3;
}
.navbar{
    grid-area: navbar;
    background-color: #E4D8DC;
}

.aside{
    grid-area: aside;
    background-color: #C9CCD5;
}

.sidebar{
    grid-area: sidebar;
    background-color: #F3F1F5;
}

.main{
    grid-area: main;
    background-color: #FDEFEF;
}

.footer{
    grid-area: footer;
    background-color: #DAD0C2;
}

@media(min-width: 600px){
    .grid-container{
      /* grid-template-columns:200px auto ;  
      grid-template-rows: 100px 50px auto 100px; */
      /* grid-template-areas: 
      "header header"
      "navbar navbar"
      "sidebar main"
      "footer footer"; */

      grid-template:
      "header header" 100px
      "navbar navbar" 50px
      "sidebar main" auto
      "footer footer"100px /
      200px auto;
    }
}

@media(min-width: 900px){
    .grid-container{
      grid-template:
      "header header header" 100px
      "navbar main sidebar" auto         
      "footer footer footer"100px /
      300px auto 300px;
    }
}