.body{
    min-width: 480px;
}
.containers{
    display: grid;
    grid-template-columns:350px 800px;
    grid-template-rows: 100 20px 600px;
    
}
.header,.sidebar,.main{
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #171717;
    color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.3);
    
}
.header{
    grid-row: 1;
    background-color: black;
}

.sidebar{
    grid-column: 1;
    grid-row: 3;
    grid-column-end: 2;
    background-color: #ffff;
    border-radius: 10px 10px 10px 10px;
    height: 350px;
}


.main{
    grid-column: 2;
    grid-row: 3;
    grid-column-end: 4;
    background-color: #ffff;
    border-radius: 10px 10px 10px 10px;
    height: 700px;
}
.brand_logo {
    height:100px;
    width: 100px;
    float: right;
    margin: 0px 5px 0px 10px;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 4px 5px 0 rgba(0,0,0,0.3);
  }
  
.img{
    height:5%;
    width: 10%;
    float: right; 
    border: 2px solid white;
    
  }
.font{
      font-style: italic;
  }
.editt{
    background-color: #D1D9D9;
    height: 600px 0px 10px 10px;
    width: 350px;
    
    margin: 10px 30px;
    padding: 10px;

    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    
}