@model ProyectoIntegrador.Models.Rol
@{
    ViewData["Title"] = "Crear";
}
<meta name="viewport" content="width=device-width" />
<h4>Rol ↴</h4>
<div class="row">
    <div class="col-md-4">
        <hr>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div  class="form-floating mb-3 form-group">
                <input asp-for="Descripcion" class="form-control" id="floatingInput" placeholder="Descripcion"/>
                <label asp-for="Descripcion" class="control-label"></label>
                
                <span asp-validation-for="Descripcion" class="text-danger"></span> @*Mostar validaciones*@
            </div>
            <hr>
            <div class="form-group">
                <input type="submit" onclick="Alert()" value="Guardar" class="btn btn-primary " style="margin: 0 20px 0px 0px;"/>
                <a asp-action="Index"class="btn btn-secondary" ><i class="bi bi-backspace"></i> Volver</a>
            </div>
        </form>
    </div>
<div>
    
</div>
</div>
