@model ProyectoIntegrador.Models.Rol
@{
    ViewData["Title"] = "Editar";
}

<script src="/js/EditarDeleteCreateView.js"></script>
<h4>Dispositivo ↴</h4>
<div class="row">
    <div class="col-md-4">
        <hr>
        <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div> @*Validar todos los elementos en HTML*@
        <input type="hidden" asp-for="IdRol"/>
        
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control"/>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>     
            <hr>      
        <div>
            <input type="submit" onclick="Alert()" value="Guardar" class="btn btn-outline-dark"> |
            <a asp-action="Index">Volver</a>
            
        </div> 
              
        </form>
    </div>
</div>