@model ProyectoIntegrador.Models.Rol
@{
    ViewData["Title"] = "Editar";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/edit.css">
</head>@**@
<body>

    <div class="containers">
        <div class="main">
            <header class="header">
                <h4>CREACIÓN DE ROL <i class="bi bi-gear-fill"></i></h4>
            </header>
            <div class="row">
            <div class="col-md-4">
                
                <div class="editt">
                     @*  🡻Ejecuta el metodo create de tipo HttpPost*@ 
                <form asp-action="Edit">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3 form-group">
                        <input asp-for="Descripcion"  class="form-control"id="floatingInput" placeholder="Descripcion"/>
                        <label asp-for="Descripcion" class="control-label"></label>
                            @*Mostrar nuestras validaciones en Conjunto con ModelOnly*@
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <hr>
                    <div class="form-group">
                        <input type="submit"  value="Guardar" class="btn btn-primary " style="margin: 0 20px 0px 0px;"/>
                        <a asp-action="Index"class="btn btn-secondary" ><i class="bi bi-backspace"></i> Volver</a>
                    </div>
                </form>
                
            </div>    
            </div>
        </div>  
        </div>
            <aside class="sidebar text" style="width: 320px;height:250px;">
                <h4>Información sobre Rol</h4>
                <br>
                <br>
                <p><i class="bi bi-file-earmark-easel"></i></i>  Descripción: Máximo 50 Caracteres. </p>
            </aside>
    </div>

        
 
</body>
</html>