@model ProyectoIntegrador.Models.Usuario
@{
    ViewData["Title"] = "Editar";
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/edit.css">
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<div class="containers">
   
    <div class="main">
            <header class="header">
                <h4>EDICIÓN DE USUARIO <i class="bi bi-gear-fill"></i></h4>
            </header>
            <div class="row">
                <div class="col-md-4">
                    <div class="editt">
                        <form asp-action="Edit" >
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div> @*Validar todos los elementos en HTML*@
                        <input type="hidden" asp-for="IdUsuario"/>
                        <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>  
                            <div class="form-group">
                                <label asp-for="Apellido" class="control-label"></label>
                                <input asp-for="Apellido" class="form-control" />
                                <span asp-validation-for="Apellido" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Direccion" class="control-label"></label>
                                <input asp-for="Direccion" class="form-control" />
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Telefono" class="control-label"></label>
                                <input asp-for="Telefono" class="form-control" />
                                <span asp-validation-for="Telefono" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label"></label>
                                <select name="idDispositivo" class="control-label" asp-items="ViewBag.ListaDispositivos"></select>
                                <input type="submit" onclick="Alert()" value="Guardar" class="btn btn-primary" style="margin: 0 20px 0px 0px;"> 
                                <a asp-action="Index"class="btn btn-secondary" ><i class="bi bi-backspace"></i> Volver</a>
                            </div>
                            <hr>

                        <div class="form-group text-center">
                            
                            
                        </div> 
                    </form>
                 </div>    
                </div>
            </div>
    </div>
    <aside class="sidebar text">
        <h4>Información sobre Usuario</h4>
        <br>
        <br>
        <p><i class="bi bi-asterisk"></i></i>  Nombre: Máximo 20 Caracteres.</p>
        <p><i class="bi bi-asterisk"></i>  Apellido: Máximo 20 Caracteres. </p>
        <p><i class="bi bi-map-fill"></i>  Direccion: Máximo 50 Caracteres. </p>
        <p><i class="bi bi-telephone-fill"></i>  Teléfono: Máximo 20 Caracteres. </p>
        <p><i class="bi bi-envelope-fill"></i>  Email: Máximo 50 Caracteres. </p>
    </aside>
</div>

</body>
</html>
